<div class="alto-menu light-blue darken-1">
  <img class="tamano-img" src="../../assets/img/login-user.svg"/>
  <br/>

</div>
<div class="tamano-menu">
  <div class="row">
    <div class="clase-botones">
      <a class="waves-effect waves-light btn button-menu light-blue darken-1" href="/sic-registra-producto">
          <img class="tamano-img-boton" src="../../assets/img/nuevo-prod.svg"/>Registrar Nuevo</a>
    </div>
    <div class="clase-botones">
      <a class="waves-effect waves-light btn button-menu light-blue darken-1">
          <img class="tamano-img-boton" src="../../assets/img/pedido.svg"/>Pedidos</a>
    </div>
    <div class="clase-botones">
      <a class="waves-effect waves-light btn button-menu light-blue darken-1">
        <img class="tamano-img-boton" src="../../assets/img/entrega.svg"/>Entregas</a>
    </div>
    <div class="clase-botones">
      <a class="waves-effect waves-light btn button-menu light-blue darken-1">
        <img class="tamano-img-boton" src="../../assets/img/estado-cuenta.svg"/>Estado Cuentas</a>
    </div>
    <div class="clase-botones">
      <a class="waves-effect waves-light btn button-menu light-blue darken-1">
        <img class="tamano-img-boton" src="../../assets/img/reporte.svg"/>Reportes</a>
    </div>
    <div class="clase-botones">
      <a class="waves-effect waves-light btn button-menu light-blue darken-1">
        <img class="tamano-img-boton" src="../../assets/img/guardar.svg"/>Discos</a>
    </div>
    <div class="clase-botones">
      <a class="waves-effect waves-light btn button-menu light-blue darken-1">
        <img class="tamano-img-boton" src="../../assets/img/ciere-gestion.svg"/>Cierre Gestión</a>
    </div>
  </div>


</div>
