.alto-menu{
  height: 65px;
}
.tamano-img{
  width: 70px;
  height: 70px;
  padding: 10px 5px 5px 5px;
  margin-bottom: 10px;
}
.tamano-img-boton{
  width: 60px;
  padding-top: 10%;
}
.tamano-menu{
  margin: 10px 10px 10px 10px;
}
.button-menu{
  width: 100% !important;
  color: white;
  height: 100% !important;
  padding: 10% 10%;
}
.btn{
  line-height: 13px !important;
  font-size: 60% !important;
  padding: 0px 0px !important;
}
.clase-botones{
  display: inline-table;
  float: inherit;
  width: 14.28%;
  padding: 0px 5px;
  position:relative;
  margin-top: 10px !important;

}
.tabs{
  height: 90px !important;
}
.tabs .tab{
  height: 100% !important;
}
.tabs .indicator {
  background-color: #003aff;
}
.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: #0017ff;
}
