<div class="alto-menu light-blue darken-1">
  <img class="tamano-img" src="../../assets/img/login-user.svg"  />
  <br/>

</div>
<div class="tamano-menu">
  <div class="row">
    <a class="waves-effect waves-light btn button-menu light-blue darken-1"><img class="tamano-img-boton" src="../../assets/img/nuevo-prod.svg" /><span>Registrar Nuevo</span></a>
    <a class="waves-effect waves-light btn button-menu light-blue darken-1"><img class="tamano-img-boton" src="../../assets/img/pedido.svg" /><span>Pedidos</span></a>
    <a class="waves-effect waves-light btn button-menu light-blue darken-1"><img class="tamano-img-boton" src="../../assets/img/entrega.svg" />Entregas</a>
    <a class="waves-effect waves-light btn button-menu light-blue darken-1"><img class="tamano-img-boton" src="../../assets/img/estado-cuenta.svg" />Estado Cuentas</a>
    <a class="waves-effect waves-light btn button-menu light-blue darken-1"><img class="tamano-img-boton" src="../../assets/img/reporte.svg" />Reportes</a>
    <a class="waves-effect waves-light btn button-menu light-blue darken-1"><img class="tamano-img-boton" src="../../assets/img/guardar.svg" />Discos</a>
    <a class="waves-effect waves-light btn button-menu light-blue darken-1"><img class="tamano-img-boton" src="../../assets/img/ciere-gestion.svg" />Cierre Gestión</a>
  </div>


</div>
