<div class="alto-menu light-blue darken-1">
  <img class="tamano-img" src="../../assets/img/login-user.svg"/>
  <br/>

</div>
<!--<div class="tamano-menu">
  <div class="row">
    <div class="clase-botones">
      <a class="waves-effect waves-light btn button-menu light-blue darken-1" href="/sic-registra-producto">
          <img class="tamano-img-boton" src="../../assets/img/nuevo-prod.svg"/>Registrar Nuevo</a>
    </div>
    <div class="clase-botones">
      <a class="waves-effect waves-light btn button-menu light-blue darken-1">
          <img class="tamano-img-boton" src="../../assets/img/pedido.svg"/>Pedidos</a>
    </div>
    <div class="clase-botones">
      <a class="waves-effect waves-light btn button-menu light-blue darken-1">
        <img class="tamano-img-boton" src="../../assets/img/entrega.svg"/>Entregas</a>
    </div>
    <div class="clase-botones">
      <a class="waves-effect waves-light btn button-menu light-blue darken-1">
        <img class="tamano-img-boton" src="../../assets/img/estado-cuenta.svg"/>Estado Cuentas</a>
    </div>
    <div class="clase-botones">
      <a class="waves-effect waves-light btn button-menu light-blue darken-1">
        <img class="tamano-img-boton" src="../../assets/img/reporte.svg"/>Reportes</a>
    </div>
    <div class="clase-botones">
      <a class="waves-effect waves-light btn button-menu light-blue darken-1">
        <img class="tamano-img-boton" src="../../assets/img/guardar.svg"/>Discos</a>
    </div>
    <div class="clase-botones">
      <a class="waves-effect waves-light btn button-menu light-blue darken-1">
        <img class="tamano-img-boton" src="../../assets/img/ciere-gestion.svg"/>Cierre Gestión</a>
    </div>
  </div>
</div>-->

<ul id="tabs-swipe-demo" class="tabs">
  <li class="tab col s3 light-blue darken-1"><a class="active" href="#test-swipe-1"><img class="tamano-img-boton" src="../../assets/img/nuevo-prod.svg"/></a></li>
  <li class="tab col s3 light-blue darken-1"><a  href="#test-swipe-2"><img class="tamano-img-boton" src="../../assets/img/pedido.svg"/></a></li>
  <li class="tab col s3 light-blue darken-1"><a href="#test-swipe-3"><img class="tamano-img-boton" src="../../assets/img/entrega.svg"/></a></li>
  <li class="tab col s3 light-blue darken-1"><a href="#test-swipe-4"><img class="tamano-img-boton" src="../../assets/img/estado-cuenta.svg"/></a></li>
  <li class="tab col s3 light-blue darken-1"><a href="#test-swipe-5"><img class="tamano-img-boton" src="../../assets/img/reporte.svg"/></a></li>
  <li class="tab col s3 light-blue darken-1"><a href="#test-swipe-6"><img class="tamano-img-boton" src="../../assets/img/guardar.svg"/></a></li>
  <li class="tab col s3 light-blue darken-1"><a href="#test-swipe-7"><img class="tamano-img-boton" src="../../assets/img/ciere-gestion.svg"/></a></li>
</ul>
<div id="test-swipe-1" class="col"><sic-registra-producto></sic-registra-producto></div>
<div id="test-swipe-2" class="col s12 "><sic-registra-producto></sic-registra-producto></div>
<div id="test-swipe-3" class="col s12 "><sic-registra-producto></sic-registra-producto></div>
<div id="test-swipe-4" class="col s12 "><sic-registra-producto></sic-registra-producto></div>
<div id="test-swipe-5" class="col s12 "><sic-registra-producto></sic-registra-producto></div>
<div id="test-swipe-6" class="col s12 "><sic-registra-producto></sic-registra-producto></div>
<div id="test-swipe-7" class="col s12 "><sic-registra-producto></sic-registra-producto></div>

