<ul id='dropDownOpciones' class='dropdown-content'>
  <li><a href="#!">Cambiar Password</a></li>
  <li class="divider"></li>
  <li><a href="#!">Salir</a></li>
</ul>
<ul id='dropDownTienda' class='dropdown-content'>
  <li><a href="#!">Tienda 1</a></li>
  <li><a href="#!">Tienda 2</a></li>
</ul>
  <nav class="nav-extended light-blue darken-1">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">SIC</a>
      <ul id="nav-mobile" class="left"><!--hide-on-med-and-down-->
        <li><a href="#" class="dropdown-button" data-activates="dropDownOpciones">Opciones</a></li>
        <li><a href="#" class="dropdown-button" data-activates="dropDownTienda">Tienda</a></li>
      </ul>
    </div>
  </nav>
