<ul id="slide-out" class="side-nav">
  <li><div class="user-view">
    <div class="background">
      <img src="../assets/img/images2.jpg">
    </div>
    <a href="#"><img class="circle" src="../assets/img/login-user.svg" style="width: 50px; height: 50px;"></a>
    <a href="#"><span class="white-text name">Belen Luna</span></a>
    <a href="#"><span class="white-text email">Sucursal 1</span></a>
  </div></li>
  <li><a href="/nuevo-producto"><i class="material-icons">brightness_high</i>Registrar Producto</a></li>
  <li><a href="/pedidos"><i class="material-icons">directions_boat</i>Pedidos</a></li>
  <li><a href="/entregas"><i class="material-icons">settings_input_antenna</i>Entregas</a></li>
  <li><a href="/estado-cuentas"><i class="material-icons">folder_special</i>Estado Cuentas</a></li>
  <li><a href="/reportes"><i class="material-icons">description</i>Reportes</a></li>
  <li><a href="/discos"><i class="material-icons">disc_full</i>Discos</a></li>
  <li><a href="/cierre-gestion"><i class="material-icons">thumbs_up_down</i>Cierre Gestión</a></li>
  <!--<li><a href="#!">Second Link</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Subheader</a></li>
  <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>-->
</ul>
